<% if @guest_name  %>
<h1>Hello, <%= @guest_name['name'] %></h1>
<form action='/account' method='post'>
    <input type='hidden' name='guest_email' value= <%= @guest_name['email'] %> />
    <input type='submit' value='Manage account'/>
</form>
<% end %>
<h2>All Properties</h2>
<br>
<br>
<div class= row>
<% @property_listings.each do | property | %>   
    <img width="100px" height="100px" src= <%= property['picture_url'] %> />
    <p><%= property['property_name'] %></p>
    <p>£<%= property['price'] %> /per-night</p>
    <p>location <%= property['county'] %></p>
    <p>max guests <%= property['total_occupancy'] %></p>
    
    <form action='/property_details' >
        <input type='hidden' name="property_id" value= <%=property['id'] %> />
        <input type='submit' value='View This Property' />
    </form>

<% end %>
</div>

